.skill-p-d {
    min-height: 40px;
    color: white;
}

.skill-div {
    background: #f79d00;
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);
    background: linear-gradient(to right, #64f38c, #f79d00);
    min-height: 38px;
    text-align: right;

}